page-about {
    .imgLogin{
        height: 200px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #488aff;
        border-radius: 40px;
    }
}
